html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana;
  background: rgb(28, 78, 154);
  background: linear-gradient(
    237deg,
    rgba(28, 78, 154, 1) 48%,
    rgba(44, 110, 206, 1) 85%,
    rgba(45, 123, 238, 1) 100%
  );
}